<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="/javascripts/script.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <title>Pets users</title>
</head>
<body>
  {{title}}
  <br /><br />
  <form action="/" method="post">
    <input type="text" name="name">
    <input type="submit" value="add">
  </form>
  <br />
  count = {{users.length}}
  <br /><br />
  <div class="users">
      
          <table width="50%" border="1">
            <tr>
              <th>User</th>
              <th colspan="2">Count pets</th>
            </tr>
            {% for item in users %}
            <tr>
                <td><a href="/pets/{{item._id}}">{{item.name}}</a></td>
                <td>{{item.pets.length}}</td>
                <td><span class="del" data-id="{{item._id}}">x</span></td>
            </tr>
            {% endfor %}
          </table>
      
  </div>
</body>
</html>