<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="/javascripts/petscript.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <title>Pets</title>
</head>
<body>
  <div id="modal" class="modal hidden">
		<div class="modal-window">
			  <form id="pet-update" data-action="" action="/" method="post">
          <p>Name</p>
          <p><input type="text" name="name"></p>
          <p><input type="submit" value="Обновить"></p>
        </form>
		</div>
	</div>
  {{title}} of {{user.name}}<br /><br />
  <a href="/">back</a><br /><br />
  count = {{user.pets.length}}
  <br /><br />
  <form action="/pets/{{user._id}}" method="post">
    <input type="text" name="name">
    <input type="submit" value="add">
  </form>
  <br /><br />
  <div class="users">
      
        <table width="50%" border="1">
          <tr>
            <th>User</th>
            <th colspan="2">Count pets</th>
          </tr>
          {% for item in user.pets %}
          <tr>
              <td><a href="#" class="user" data-update="/pets/{{user._id}}/{{user.pets.indexOf(item)}}">{{item}}</span></td>
              <td><span class="del" data-id="/pets/{{user._id}}/{{user.pets.indexOf(item)}}/">x</span></td>
          </tr>
          {% endfor %}
        </table>
      
  </div>
</body>
</html>